.cache/
*.detections_cache.*.pkl
*.detections_cache.pkl
*.embeddings_cache.*.pkl
.vscode/
bazel-*
*.pyc
__pycache__/
dataset/teamtrack*
roadmap.md
*.lock
components/court_detector/dataset
components/court_detector/runs
components/court_detector/yolo_combined_data
models
*mp4
*pt
*zip
*out
components/tracking/tracking
dataset/deepsport
dataset/data_reid
dataset/basketball*